.App__Main {
	display: flex;
	padding: 0 20px;
	align-items: flex-start;
	column-gap: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	max-width: 1024px;
}

@media only screen and (max-width: 768px) {
	.App__Main {
		flex-direction: column-reverse;
		align-items: stretch;
	}
}
