.Comment {
	box-shadow: 0 0 5px 0 black;
	margin: 10px 0 0 0;
	padding: 10px;
	border-radius: 5px;
	text-align: initial;
	word-break: break-all;
}

.Comment__Footer {
	display: flex;
	justify-content: space-between;
	font-size: small;
	font-weight: bold;
	font-style: italic;
	margin-top: 0.5em;
}
