.SubredditList {
	background-color: #f4f1de;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.SubredditList__Spinner {
	color: #3d405b;
	font-size: 4em;
	padding: 50px;
}

.SubredditList__Opener {
	margin-left: 10px;
	cursor: pointer;
}

.SubredditList__OpenerIcon {
	font-size: larger;
}

.SubredditList__Opener h3 {
	display: inline;
	margin-left: 10px;
}

@media only screen and (max-width: 768px) {
	.SubredditList__Container {
		margin-top: 10px;
	}
}
