header {
	background-color: #f4f1de;
	display: flex;
	align-items: center;
	box-shadow: 0 0 10px 0px #000;
	justify-content: center;
	padding: 10px;
}

header img {
	width: 50px;
}

header h1 {
	margin: 0 auto 0 10px;
}
