header {
	background-color: #f4f1de;
	box-shadow: 0 0 10px 0px black;
}

header > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
}

header img {
	width: 50px;
}

header h1 {
	margin: 0 auto 0 10px;
}

header a, header a:active, header a:visited, header a:hover {
	text-decoration: none;
	color: inherit;
}
