.Subreddit {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 10px;
	padding: 10px;
	cursor: pointer;
}

.Subreddit:hover {
	background-color: #81b29a;
	transition: background-color 200ms;
}

.Subreddit.selected {
	border-left: solid 3px #3d405b;
	transition: border-left 200ms;
}

.Subreddit img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	border: solid 3px #3d405b;
}
