.Post {
	background-color: #f4f1de;
	padding: 10px;
	margin: 20px 0;
	border-radius: 10px;
	text-align: initial;
}

.Post__HorizontalGrid {
	display: grid;
	grid-template-columns: 10% 90%;
	column-gap: 10px;
}

.Post__Main {
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 10px;
}

.Post__Title {
	font-size: x-large;
	font-weight: bold;
}

.Post__Footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 5px;
	font-size: small;
	font-weight: bold;
	font-style: italic;
}

.Post__Age {
	text-align: center;
}

.Post__CommentsButton {
	justify-self: flex-end;
	border: none;
	background: none;
	cursor: pointer;
	color: #3d405b;
	font-weight: bold;
	font-style: italic;
	font-size: small;
}

.Post__CommentsIcon {
	margin-right: 5px;
}
