.Upvotes {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
}

.Upvotes button {
	border: none;
	background: none;
	font-size: larger;
	cursor: pointer;
	color: #3d405b;
}

.Upvotes__UpvoteButton.active {
	color: red;
	transition: color 200ms;
}

.Upvotes__DownvoteButton.active {
	color: blue;
	transition: color 200ms;
}
